.split-section h2 {
    margin-top: 0;
}

@media (min-width: 900px) {
    /* Container styles */
    .split-section > div {
        display: flex; /* Display children side by side */
        flex-direction: row; /* This ensures the left-to-right order for larger screens */
    }

    /* General styles for the split-section containers */
    .split-section .split-section-image,
    .split-section .split-section-content {
        width: 50%;
        padding: 20px;
    }

    .split-section .split-section-image picture img {
        width: 100%;
        height: auto;
        display: block;
    }

    .split-section .split-section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/* Mobile and Tablet styles */
@media (max-width: 899px) {
    .split-section > div {
        display: flex;
        flex-direction: column; /* Stack child elements vertically */
    }

    .split-section .split-section-image,
    .split-section .split-section-content {
        width: 100%;
    }

    .split-section .split-section-image picture img {
        width: 100%;
/*        max-height: 300px;
        object-fit: cover;
 */
    }

    /* Ensure image is displayed first */
    .split-section-image {
        order: 1;
    }

    .split-section-content {
        order: 2;
    }
}
